$canvas-color: #263238;
$area-gray-color: #212121;
$feedback-color: #40c4ff;

* {
    box-sizing: border-box;
}

body, section {
    margin: 0;
    padding: 0;
}

body {
    background-color: $canvas-color;
    overflow: hidden;
}

.fa > * {
    display: none;
}

#stage {
    background-color: $canvas-color;
    opacity: 1;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 2s;
    transition-property: opacity;
    transition-duration: 2s;
}

#application {
    a {
        position: absolute;
        bottom: 1em;
        right: 1em;
        display: block;
        width: 1.5em;
        height: 1.5em;
        z-index: 24;
        color: $feedback-color;
        border: solid thin $feedback-color;
        border-radius: 0.3em;
        text-align: center;
        text-decoration: none;

        display: none;

        i {
            margin-top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    }
    &:target a {
        display: initial;
        &.disabled {
            display: none;
        }
    }
}

h1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 12;
    width: 100%;
    text-align: center;
    font-family: "Times New Roman", serif;
    font-size: 6em;
    font-weight: normal;
    color: white;
    text-shadow: -2px 0 0 black,
                 0 -2px 0 black,
                 2px 0 0 black,
                 0 2px 0 black;
    opacity: 0;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 1s;
    transition-property: opacity;
    transition-duration: 1s;
    span {
        display: inline-block;
        &:nth-child(2) {
            margin-left: 0.01em;
            margin-right: 0.03em;
        }
        &.splashed {
            -webkit-transform: rotateY(360deg);
            -webkit-transition-property: -webkit-transform;
            -webkit-transition-duration: 1s;
            transform: rotateY(360deg);
            transition-property: transform;
            transition-duration: 1s;
        }
    }
}

#input-information {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    &.paused {
        -webkit-filter: blur(6px);
        filter: blur(6px);
        transition: 0.6s;
    }

    p {
        position: absolute;
        margin: 0 auto;
        width: 100%;
        padding: 0;
        text-align: center;
        z-index: 12;
        top: 54%; // I don't know why addition 4% is needed.
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
        &.initial {
            top: calc((100vh - 80vmin) / 2);
        }
        &.animating {
            display: none;
        }

        &#shake img {
            -webkit-animation: shake 0.5s linear;
            -webkit-animation-delay: 1s;
            animation: shake 0.5s linear;
            animation-delay: 1s;
        }
        img {
            width: 15vmin;
            -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
        }
        &.initial img {
            width: 80vmin;
            vertical-align: middle;
        }
    }
}

#guide {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    &.uninitialized, &.waiting, &.animating {
        display: none;
    }

    h1 {
        position: relative;
        width: 90%;
        height: 20%;
        margin: 0 5%;
        padding: 0;
        padding-bottom: 0.2em;
        border-bottom: 0.1em $area-gray-color solid;
        line-height: 20vmin;
        font-size: 10vmin;
        font-family: Helvetica,arial,sans-serif;
        opacity: initial;
    }

    div {
        position: relative;
        width: 100%;
        height: 80%;
    }

    svg {
        position: absolute;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 90vmin;
        height: 90vmin;
        max-width: 90%;
        max-height: 90%;
    }
}

#menu {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &:target {
        -webkit-transition: 0.6s;
        transition: 0.6s;

        & > div:nth-of-type(1) {
            width: 100%;
            height: 100%;
            background-color: $canvas-color;
            opacity: 0.5;
        }
    }

    & > div:nth-of-type(2) {
        position: absolute;
        bottom: -100%;
        width: 100%;
        overflow: hidden;
        text-align: center;

        div {
            display: inline-block;
            margin: 0.5em auto;
            padding-bottom: 0.5em;
            border: solid thin $feedback-color;
            border-radius: 0.2em;
        }
    }
    &:target > div {
        bottom: 0;
        transition: 0.6s;
    }

    a.close {
        display: block;
        margin: 0.3em;
        overflow: hidden;
        text-align: right;
        font-size: 1.5em;
        color: $feedback-color;
    }

    ul {
        width: 100%;
        margin: 0;
        padding: 0;
        z-index: 24;
        overflow: hidden;
        list-style: none;
        font-size: 2em;
    }

    li {
        display: inline-block;
        float: left;
        width: 2em;
        margin: 0 0.2em;
        border: solid thin $feedback-color;
        border-radius: 0.2em;
        text-align: center;
        &:nth-child(2), &:nth-child(3) {
            background-color: $feedback-color;
        }

        label {
            color: $feedback-color;
            cursor: pointer;
        }

        a {
            color: $canvas-color;
        }
    }
}

body.uninitialized {
    #stage {
        opacity: 0;
    }
    #splash {
        position: absolute;
        opacity: 1;
    }
}

@-webkit-keyframes shake {
    0% { transform: translateX(0) rotateZ(0); transform-origin: bottom; }
    10% { transform: translateX(1%) rotateZ(12deg); transform-origin: bottom; }
    25% { transform: translateX(-1%) rotateZ(-12deg); transform-origin: bottom; }
    40% { transform: translateX(1%) rotateZ(12deg); transform-origin: bottom; }
    55% { transform: translateX(-1%) rotateZ(-12deg); transform-origin: bottom; }
    70% { transform: translateX(1%) rotateZ(12deg); transform-origin: bottom; }
    85% { transform: translateX(-1%) rotateZ(-12deg); transform-origin: bottom; }
    100% { transform: translateX(0) rotateZ(0); transform-origin: bottom; }
}

@-webkit-keyframes shake {
    0% { -webkit-transform: translateX(0) rotateZ(0); -webkit-transform-origin: bottom; }
    10% { -webkit-transform: translateX(1%) rotateZ(12deg); -webkit-transform-origin: bottom; }
    25% { -webkit-transform: translateX(-1%) rotateZ(-12deg); -webkit-transform-origin: bottom; }
    40% { -webkit-transform: translateX(1%) rotateZ(12deg); -webkit-transform-origin: bottom; }
    55% { -webkit-transform: translateX(-1%) rotateZ(-12deg); -webkit-transform-origin: bottom; }
    70% { -webkit-transform: translateX(1%) rotateZ(12deg); -webkit-transform-origin: bottom; }
    85% { -webkit-transform: translateX(-1%) rotateZ(-12deg); -webkit-transform-origin: bottom; }
    100% { -webkit-transform: translateX(0) rotateZ(0); -webkit-transform-origin: bottom; }
}

@keyframes shake {
    0% { transform: translateX(0) rotateZ(0); transform-origin: bottom; }
    10% { transform: translateX(1%) rotateZ(12deg); transform-origin: bottom; }
    25% { transform: translateX(-1%) rotateZ(-12deg); transform-origin: bottom; }
    40% { transform: translateX(1%) rotateZ(12deg); transform-origin: bottom; }
    55% { transform: translateX(-1%) rotateZ(-12deg); transform-origin: bottom; }
    70% { transform: translateX(1%) rotateZ(12deg); transform-origin: bottom; }
    85% { transform: translateX(-1%) rotateZ(-12deg); transform-origin: bottom; }
    100% { transform: translateX(0) rotateZ(0); transform-origin: bottom; }
}
