$canvas-color: black;

body {
    margin: 0;
    padding: 0;
}
#stage {
    background-color: $canvas-color;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 2s;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 2s;
}

h1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 12;
    width: 100%;
    text-align: center;
    font-family: "Times New Roman", serif;
    font-size: 6em;
    font-weight: normal;
    color: white;
    text-shadow: -2px 0 0 black,
                 0 -2px 0 black,
                 2px 0 0 black,
                 0 2px 0 black;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 1s;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 1s;
    span {
        display: inline-block;
        &:nth-child(2) {
            margin-left: 0.01em;
            margin-right: 0.03em;
        }
        &.splashed {
            -webkit-transform: rotateY(360deg);
            -webkit-transition-property: -webkit-transform;
            -webkit-transition-duration: 1s;
            transform: rotateY(360deg);
            transition-property: transform;
            transition-duration: 1s;
        }
    }
}

#input-information {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    p {
        margin: 0;
        margin-top: calc((100vh - 80vmin) / 2);
        padding: 0;
        text-align: center;
        &#shake {
            animation: shake 0.5s linear;
            animation-delay: 1s;
            -webkit-animation: shake 0.5s linear;
            -webkit-animation-delay: 1s;
        }
        &.completed {
            opacity: 0;
            transition-property: opacity;
            transition-duration: 0.5s;
            -webkit-transition-property: opacity;
            -webkit-transition-duration: 0.5s;
        }
        &.ended {
            display: none;
        }
        img {
            width: 80vmin;
            vertical-align: middle;
        }
    }
}

body.uninitialized {
    #stage {
        opacity: 0;
    }
    #splash {
        opacity: 1;
    }
}

@keyframes shake {
    0% { transform: translateX(0) rotate(0); transform-origin: bottom; }
    10% { transform: translateX(3px) rotate(12deg); transform-origin: bottom; }
    25% { transform: translateX(-3px) rotate(-12deg); transform-origin: bottom; }
    40% { transform: translateX(3px) rotate(12deg); transform-origin: bottom; }
    55% { transform: translateX(-3px) rotate(-12deg); transform-origin: bottom; }
    70% { transform: translateX(3px) rotate(12deg); transform-origin: bottom; }
    85% { transform: translateX(-3px) rotate(-12deg); transform-origin: bottom; }
    100% { transform: translateX(0) rotate(0); transform-origin: bottom; }
}

@-webkit-keyframes shake {
    0% { transform: translateX(0) rotate(0); transform-origin: bottom; }
    10% { transform: translateX(3px) rotate(12deg); transform-origin: bottom; }
    25% { transform: translateX(-3px) rotate(-12deg); transform-origin: bottom; }
    40% { transform: translateX(3px) rotate(12deg); transform-origin: bottom; }
    55% { transform: translateX(-3px) rotate(-12deg); transform-origin: bottom; }
    70% { transform: translateX(3px) rotate(12deg); transform-origin: bottom; }
    85% { transform: translateX(-3px) rotate(-12deg); transform-origin: bottom; }
    100% { transform: translateX(0) rotate(0); transform-origin: bottom; }
}
