$canvas-color: black;

body {
    margin: 0;
    padding: 0;
}
#stage {
    background-color: $canvas-color;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 2s;
}

#loading {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#speech-text {
    position: absolute;
    top: 1em;
    width: 100%;
    font-size: 3em;
    text-align: center;
    color: white;
    &.active {
      $text-shadow-color: #ff0000;
      text-shadow: -2px 0 0 $text-shadow-color,
                   0 -2px 0 $text-shadow-color,
                   2px 0 0 $text-shadow-color,
                   0 2px 0 $text-shadow-color;
    }
    &.animating {
        display: none;
    }
}

#microphone-controls {
    display: none;
}

body.uninitialized {
    #stage {
        opacity: 0;
    }
    #loading {
        display: block;
    }
}
