body{
	color: #fff;
	font-family: Avenir, 'Helvetica neue', Helvetica, '游ゴシック', YuGothic, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif; 
}

h1{
	margin: 10px;
}

h2{
	font-family: AvenirNext-Heavy;
	font-size: 4.2em;
	line-height: 1.2em;
	font-weight: 700;
}

h3{
	background: linear-gradient(left, rgba(38,50,56,0.1), rgba(255,64,129,1) 50%, rgba(38,50,56,0.1));
	background: -webkit-linear-gradient(left, rgba(38,50,56,0.1), rgba(255,64,129,1) 50%, rgba(38,50,56,0.1));
	background: -moz-linear-gradient(left, rgba(38,50,56,0.1), rgba(255,64,129,1) 50%, rgba(38,50,56,0.1));
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: 100% 4px;

	padding-bottom: 0.25em;
	margin-bottom: 1em;
}

 	
#index-banner{
	background-image: url(../images/bg_main.jpg);
	background-repeat: no-repeat;
	background-position: top left;
	background-size: cover;
}

#index-section{
	background-image: url(../images/audio-wave.svg);
	background-repeat: no-repeat;
	background-position: 0% 50%;
	background-size: contain;
}

.frame{
	border: solid 1px #fff;
	padding: 0.5em 0;
	margin-top: 3em;
	margin-bottom: 2em;

}

footer.page-footer{
	background-color: #37474f;
}

footer.page-footer .footer-copyright{
	background-color: #263238;
}

.fb_iframe_widget{
	margin-bottom: 0.5em;	
}
